[package]
name = "vass-reach-lib"
version = "0.1.0"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["lib"]
path = "src/lib.rs"

[dependencies]
vass-reach-macros = { path = "../vass-reach-macros" }
itertools = "0.14.0"
petgraph = { version = "0.8.3", features = ["serde-1"] }
z3 = { version = "0.19.7", features = ["gh-release"] }
rand = "0.10.0"
colored = "3.1.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.133"
hashbrown = { version = "0.16.0", features = ["serde"] }
nom = "8.0.0"
paste = "1.0.15"
anyhow = "1.0.100"
toml = "1.0"
chrono = "0.4.42"
num = "0.4.3"


[profile.release]
lto = true
opt-level = 3
overflow-checks = false
