[workspace]
resolver = "3"
members = [
    "packages/vass-reach",
    "packages/vass-reach-lib",
    "packages/vass-reach-playground",
    "packages/vass-reach-testing",
    "packages/vass-reach-macros",
]

[profile.release]
opt-level = 3
lto = true
panic = "abort"
