:root {
    --bg-color: #202028;
    --text-color: #ffffff;
    --text-muted: #aaaaaa;
    --font: 'Courier New', Courier, monospace;
    --plot-size: 800px;
}

* {
    box-sizing: border-box;
    font-family: var(--font);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
}

button {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--text-muted);
}

button.is-selected {
    border: 1px solid var(--text-color);
}

.container {
    margin: 8px;
}

.plot-container {
    position: relative;
    width: var(--plot-size);
    height: var(--plot-size);
}

.svelteplot {
    position: absolute;
    inset: 0;
}

.color-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
}